@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes spin-360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-360 {
    animation: spin-360 0.6s ease-in-out;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

.bg-grid {
  background-image: url("/grid.svg");
  background-repeat: repeat;
}

.animated-gradient-bg {
  background: linear-gradient(
    270deg,
    #ff0080,
    #7928ca,
    #2af598,
    #fecfef,
    #ff0080
  );
  opacity: 35%;
  filter: blur(50px);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 30em;
  height: 30em;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.clip-polygon {
  clip-path: polygon(100% 20%, 100% 80%, 0 80%, 0 20%);
}

.loader {
  position: relative;
  -webkit-text-stroke: 4px rgba(255,255,255);
  color: transparent;
}

.loader::after {
  content: attr(anim-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #111827;
  -webkit-text-stroke: 0;
  z-index: 1;
}

.loader::before {
  position: absolute;
  content: attr(anim-text);
  height: 100%;
  width: 100%;
  color: #fff;
  border-right: 6px solid #fff;
  overflow: hidden;
  animation: animate 4s ease-in-out;
  z-index: 2;
}

.slide-out {
  animation: slideOut 1.5s 3s ease-in-out forwards;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
